# Maven packaging files
/target/

# jar files
*\.jar

# archives
*\.7z
*\.zip
*\.rar

# Run time folders
chrome_*/
logs/
screenshots/
plans/
data/
FF Profiles/

# IntelliJ Files
BHBot*\.iml
\.idea

# External executables
chromedriver*\.exe
geckodriver*\.exe
fisher-v1\.2\.4\.exe
fishing\.exe

# Configuration files
settings\.ini

# launch4j files
BHBot\.zip

# misc
cuecompare/
numberbuilder/